<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>img_UploadUrl</key>
	<string>http://uccfile.im-cc.com/upload</string>
	<key>img_downloadUrl</key>
	<string>http://uccfile.im-cc.com/download/</string>
	<key>loginUrl</key>
	<string>https://u.im-cc.com/httpif/</string>
	<key>ImmediatelyLogin</key>
	<true/>
</dict>
</plist>
